<!DOCTYPE html> {% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}" type="text/CSS">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <title>Hello</title>
</head>

<body>
    <div style="align-content: center;">
        <br><br><br>
        <h1>Hello, how are you?</h1>
        <form action="/" method='POST'>
            {% csrf_token %}
            <div class="form-row">
                <div class="col-sm"></div>
                <div class="form-group col-sm-8">
                    <div class="textfield">
                        {% for fields in form %} {{ fields }} {% endfor %}
                    </div>
                </div>
                <div class="col-sm"></div>
            </div>
            <div class="row">
                <input type="submit" class="btn submit" value="Submit">
            </div>
            <br><br>
            <div>
                <div class="text-center">
                    <p class="status">status</p>
                    <center><div style="width: 70%; height: 3px; background-color: #1A3852;"></div></center>
                    <p>
                        <table>
                            {% for stats in stats %}
                            <div class="statusbox">
                                <div class="row">
                                    <div class="col-sm">
                                        <p> {{ stats.status }}</p>
                                    </div>
                                </div>
                            </div>
                            <br>
                            {% endfor %}
                        </table>
                    </p>
                </div>
            </div>
        </form>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>