html, body{
    width:100%;
    height:100%;
    background-color: #AFC2CE;
}

.title{
    text-align: center;
    font-size: 100px;
}

h1{
    text-align: center;
    font-size: 70px;
}

.textfield{
    left: 50%;
    top: 50%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.submit{
    background-color:  #1A3852;
    color:white;
    border-radius : 20px;
    margin: auto;
}

.status{
    margin: auto;
    font-size: 28px;
}

table{
    align-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
    display: inline;
}

.statusbox{
    background-color: #1A3852;
    border-radius: 20px;
    margin: auto;
    color: white;
    font-size: 20px;
    max-width: 40vw;
    height: 35px;
}

input.form-control {
    border-style: solid;
    border-color: #1A3852;
    border-radius: 15px;
}

select.form-control {
    border-style: solid;
    border-color: #1A3852;
    border-radius: 15px;
}
